.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas: "header header header"
    "main main main";

}

#mainHeader{
    /* grid-column: 2/4; */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
grid-area: header;
text-align: center;
}

main{
    grid-area: main;
    text-align: center;
    width: 30%;
    align-items: center;
    justify-content: center;
}