body {
    background: url(images/img_bg.jpg) no-repeat center -60px;
    background-size: cover;
    /* position: relative; */
    font-family: Lora, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 150px;
    grid-template-areas: "header header header" "main main main";
}




#mainHeader {
    grid-area: header;
    text-align: center;
}

#mainHeader h1 {
    margin-bottom: 0px;
    font-size: 2em;
    text-transform: uppercase;
}

#mainHeader p {
    margin-top: 0px !important;
    font-size: .9em;
}

main {
    grid-area: main;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

main p {
    max-width: 400px;
    white-space: normal;
    text-align: justify;
    font-size: .85em;
}

main address {
    text-align: right;
    font-size: .8em;
}

/* horizontal line */

.rule {
    max-width: 230px;
    height: 1px;
    position: relative;
    left: 41.5%;
    top: -10px;
    background: rgb(44, 44, 44);
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    /* text-align: center; */
}

.rule:before,
.rule:after {
    content: '';
    height: 6px;
    width: 6px;
    border-radius: 10px;
    float: left;
    background: #000;
    margin-top: -3px;
}

.rule:after {
    float: right;
}

/* end of horizontal line */

/* Media Queries */

@media only screen and (max-width: 400px) {

    body {
        background: url(images/img_bg.jpg) no-repeat center 160px;
        background-size: cover;
    }
    main {
        grid-column: 1/4;
        /* padding: 3px; */
    }
    main p {
        padding: 3px;
    }

    .rule{
        left: 10%;
    }
}