.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas: "header header header"
    "main main main";

}

#mainHeader{
    /* grid-column: 2/4; */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
grid-area: header;
text-align: center;
}

main{
    grid-area: main;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

main p{
    max-width: 400px;
    white-space: normal;
    text-align: justify;
    
}

main address {
    text-align: right;
}


@media only screen and (max-width: 400px){
    main {
        grid-column: 1/4;
        /* padding: 3px; */
    }

    main p{
        padding: 3px;
    }
}